<form [formGroup]="myForm" (submit)=resetPassword()>
    <div *ngIf="emailNotFound">
        <span class="text-danger">
            Email does not exist!
        </span>
    </div>
    <div class="col"><label for="email">Email </label></div>
    <div class="col"><input type="text" [formControl]="email" ngModel></div>
    <div *ngIf="email.errors">
        <span class="text-danger" *ngIf="email.dirty && email.invalid && email.hasError('required')">
            Email is required.
        </span>
        <span class="text-danger" *ngIf="email.hasError('pattern')">
            Email is not valid.
        </span>
    </div>
    <br>

    <div>
        <button class="btn btn-primary mr-1" [disabled]="!myForm.valid">Submit</button>
        <button class="btn btn-secondary" type="reset">Clear</button>
    </div>

</form>
<br>