<br/>
<div class="container">
    <div class="row justify-content-center">

        <div class="card" >
        <div class="card-body">
          <div style="max-width: 400px;" class="mr-1" *ngFor="let orderStatus of orderStatusList">
            <h5 class="card-title">Order Details </h5>
            <h3>Status: <span id="status">{{orderStatus.status}}</span></h3>
            <h6 id="status">Remaining time: </h6><p id="remaining"></p> 
            <p class="card-text">{{orderStatus.description}}
            </p>
            <p>Order ID: {{orderStatus.orderId}}</p>
            <button type="button" class="btn btn-outline-danger" (click)= "cancel()" >Cancel Order</button></div>
        </div>
        </div>
    </div>
</div>
<script>
  console.log("inside")
var countDownDate = new Date().getTime() + 15 * 60 * 1000;
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("remaining").innerHTML =  hours + ":"
  + minutes + ":" + seconds;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("remaining").innerHTML = "EXPIRED";
  }
}, 1000);
</script>